<!-- Game -->
<div class="game noVisible">
    <div class="row">
        <div class="col-md-12">
            <div class="attempt-data">
                <h3>{{ lang.attempt_data }}</h3>
                <hr/>
                <div class="formulari">
                    <div class="currentPlayer">
                        <div class="alert alert-info" role="alert">
                            <a href="#" class="alert-link"></a>
                        </div>
                    </div>
                    <form role="form">
                        <div class="row">

                            <!-- Primera tirada -->
                            <div class="col-md-4">
                                <h4>{{ lang.first_attempt }}</h4>
                                <hr/>
                                <div class="form-group">
                                    <label for="fAttempt">{{ lang.sector }}:</label>
                                    <select id="fAttempt" class="form-control">
                                        <option value="failures">{{ lang.nothing }}</option>
                                        <option value="bull">{{ lang.bull }}</option>
                                        <option value="sector20">20</option>
                                        <option value="sector19">19</option>
                                        <option value="sector18">18</option>
                                        <option value="sector17">17</option>
                                        <option value="sector16">16</option>
                                        <option value="sector15">15</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fAttemptType">{{ lang.type }}:</label>
                                    <select id="fAttemptType" class="form-control"></select>
                                </div>
                            </div>

                            <!-- Segona tirada -->
                            <div class="col-md-4">
                                <h4>{{ lang.second_attempt }}</h4>
                                <hr/>
                                <div class="form-group">
                                    <label for="sAttempt">{{ lang.sector }}:</label>
                                    <select id="sAttempt" class="form-control">
                                        <option value="failures">{{ lang.nothing }}</option>
                                        <option value="bull">{{ lang.bull }}</option>
                                        <option value="sector20">20</option>
                                        <option value="sector19">19</option>
                                        <option value="sector18">18</option>
                                        <option value="sector17">17</option>
                                        <option value="sector16">16</option>
                                        <option value="sector15">15</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="sAttemptType">{{ lang.type }}:</label>
                                    <select id="sAttemptType" class="form-control"></select>
                                </div>
                            </div>

                            <!-- Tercera tirada -->
                            <div class="col-md-4">
                                <h4>{{ lang.third_attempt }}</h4>
                                <hr/>
                                <div class="form-group">
                                    <label for="tAttempt">{{ lang.sector }}:</label>
                                    <select id="tAttempt" class="form-control">
                                        <option value="failures">{{ lang.nothing }}</option>
                                        <option value="bull">{{ lang.bull }}</option>
                                        <option value="sector20">20</option>
                                        <option value="sector19">19</option>
                                        <option value="sector18">18</option>
                                        <option value="sector17">17</option>
                                        <option value="sector16">16</option>
                                        <option value="sector15">15</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="tAttemptType">{{ lang.type }}:</label>
                                    <select id="tAttemptType" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: right">
                                <button id="btnNext" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal">{{ lang.next }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Results -->
            <div class="results">
                <h3>{{ lang.results }}</h3>
                <hr/>
                <div id="winner" class="noVisible">
                    <div class="alert alert-success" role="alert">
                        <a href="#" class="alert-link"></a>
                    </div>
                </div>

                <div class="taula">
                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>{{ lang.player }}</th>
                            <th>20</th>
                            <th>19</th>
                            <th>18</th>
                            <th>17</th>
                            <th>16</th>
                            <th>15</th>
                            <th>{{ lang.bull }}</th>
                            <th>{{ lang.points }}</th>
                            <th>{{ lang.failures }}</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>